<div class="card-center card">
    <div class="card-body">
        <h5 ng-click="alterarNome()" class="card-title maozinha" title="Alterar nome do usuário.">{{ nome }}</h5>
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="novaTodo()" title="Crie uma nova To-Do.">Novo To-Do</button>

        <br>

        <table class="table" ng-if="todos && todos.length">
            <thead>
                <tr>
                    <th></th>
                    <th>To-Do</th>
                    <th>Data evento</th>
                    <th>*</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="todo in todos | orderBy: 'concluida'" ng-class="{'linha-concluida' : todo.concluida}">
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1-{{$index}}" ng-model="todo.concluida" ng-click="check(todo)" />
                            <label class="custom-control-label" for="customCheck1-{{$index}}"></label>
                        </div>
                    </th>
                    <td>{{ todo.descricao }}</td>
                    <td>{{ todo.data }}</td>
                    <td><i ng-click="excluirTodo(todo)" class="material-icons">delete</i></td>
                </tr>
            </tbody>
        </table>

        <div class="card" ng-if="!todos || !todos.length">
            <div class="card-body" style="text-align: center">
                Nenhuma To-Do adicionada.
            </div>
        </div>

    </div>
</div>